<a href="https://colab.research.google.com/github/ashmafee-iut/Learning-Coding/blob/main/Common_Terms_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 - Map
 - Iterable and Iterator
 - Functioanl Programming - map, filter and reduce [Not completed]
 - Lambda function 
 - Closure

# **Map() function**
Python’s **map()** is a **built-in function** that allows you to process and transform all the items in an **iterable** <u>without using an explicit for loop</u>, a technique commonly known as mapping.
 - map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.
 - It is required when same operation is needed to be performed on all items of inputs of the iterable. Instead of using a for loop, we can use a map() function

**Iterable and Iterator** 

**Iteration** is a process of using a **loop** to access all the elements of a sequence. Most of the time, we use for loop to iterate over a sequence. But there are some times when we need to iterate over a sequence using a different approach (producing next item in sequence). In those cases, we need to use an **iterator**.

<u>In Python, both the terms **iterators and iterables** are sometimes used interchangeably but they have different meanings.</u>


An **Iterable** is basically an object that any user can iterate over. 

An **iterator** is an object **which keeps a state** and produces the next value each time it is iterated upon.

**Note:** Every iterator is an iterable, but not every iterable is an iterator. Because we cannot use next() with every iterable, which is used to produce next item in iterator.

**Iterable**

Iterable is a **sequence (of a list)** that can be iterated over, i.e., you can use a for loop to iterate over the elements in the sequence. More examples of iterables are: Lists, Tuples, Strings, Dictionaries, Sets, and Generators

In [ ]:
for value in ["a", "b", "c"]:
    print(value)

a
b
c

**Iterator**

An iterator is an object which must implement the iterator protocol consisting of the two methods **\_\_iter__()** and **\_\_next__()**. We can also explicitly call **iter()** and **next()**

- The **iter() function** returns an iterator object. It takes any collection object as an argument (an iterable) and returns an iterator object. i.e., We can use the iter() function to convert an iterable into an iterator.

- An iterator contains a countable number of values and with the **next() function** can return the next element in the sequence, one element at a time.

In [ ]:
colors = ['Black', 'Purple', 'Green']
iterator = iter(colors)

print(iterator)

print(next(iterator))  # Output: Black
print(next(iterator))  # Output: Purple
print(next(iterator))  # Output: Green

<list_iterator object at 0x7fe7b0307550>
Black
Purple
Green

In [ ]:
print(next(iterator))  # If there are no further items, a StopIteration exception should be raised.

StopIteration: ignored

**Functional programming** 

In functional programming, computations are done by combining functions that take arguments and return a concrete value (or values) as a result. <b>These functions don’t modify their input arguments and don’t change the program’s state.</b> They just provide the result of a given computation. These kinds of functions are commonly known as **pure functions**.
 - Functional programming typically uses **lists, arrays, and other iterables** to represent the data along with a set of functions that operate on that data and transform it. 
 - When it comes to processing data with a functional style, there are at least three commonly used techniques:
   - **Mapping** consists of applying a **transformation function** to an iterable to produce a new iterable. Items in the new iterable are produced by calling the **transformation function** <u>on each item in the original iterable.</u>

   - **Filtering** consists of applying a **predicate or Boolean-valued function** to an iterable to generate a new iterable. Items in the new iterable are <u>produced by **filtering out** any items in the original iterable that make the predicate function return **false**.</u>

   - **Reducing** consists of applying a **reduction function** to an iterable to produce **a single cumulative value**.

**How map() works:**

map() loops over the items of an input iterable (or iterables) and returns an **iterator** that results from applying a transformation function to every item in the original input iterable.

map() **takes** a **function object** and **an iterable (or multiple iterables)** as arguments and **returns an iterator** that yields transformed items on demand.

 > **map() function signature:**
 >
 > map(function, iterable[, iterable1, iterable2,..., iterableN])

 - The first argument to map() is a function object, which means that you need to pass a function without calling it. That is, **without using a pair of parentheses**.
  - This function is a transformation function
  - It can be any Python callable. This includes **built-in functions**, **classes**, **methods**, **lambda functions**, and **user-defined functions**.

The map() function returns an object of map class (iterator class type). The returned value can be passed to functions like followings to convert them as list and set:

 > list() - to convert to list
 >
 > set() - to convert to a set, and so on.

In [ ]:
(map(chr, range(97, 123)))

In [ ]:
list(map(chr, range(97,123)))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
# Another example as comparison
numbers = [1, 2, 3, 4, 5]
squared = []

for number in numbers:
  squared.append(number ** 2)

squared

[1, 4, 9, 16, 25]

In [ ]:
#using map() function

def square(number):
  return number ** 2

squared2 = map(square, numbers)

print(squared2)
print(list(squared2))

<map object at 0x7fe7b030e490>
[1, 4, 9, 16, 25]

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

int_nums = map(int, str_nums)
print(int_nums)
print(list(int_nums))

<map object at 0x7fe7b028cc10>
[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [ ]:
words = ["Welcome", "to", "Real", "Python"]
list(map(len, words))

[7, 2, 4, 6]

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared = map(lambda num: num ** 2, numbers)

list(squared)

[1, 4, 9, 16, 25]

In [ ]:
first_it = [1, 2, 3]
second_it = [4, 5, 6, 7]

list(map(pow, first_it, second_it))

[1, 32, 729]

In [ ]:
list(map(lambda x, y: x - y, [2, 4, 6], [1, 3, 5]))

[1, 1, 1]

In [ ]:
list(map(lambda x, y, z: x + y + z, [2, 4], [1, 3], [7, 8]))

[10, 15]

In [ ]:
string_it = ["proceSSing", "sTRings", "wITh", "mAP"]
print(list(map(str.capitalize, string_it)))
# output = ['Processing', 'Strings', 'With', 'Map']

print(list(map(str.upper, string_it)))
# output = ['PROCESSING', 'STRINGS', 'WITH', 'MAP']

print(list(map(str.lower, string_it)))
# output = ['processing', 'strings', 'with', 'map']

['Processing', 'Strings', 'With', 'Map']
['PROCESSING', 'STRINGS', 'WITH', 'MAP']
['processing', 'strings', 'with', 'map']

# **chr()**
The Python chr() function returns a string from a Unicode code integer.

In [ ]:
print(chr(97))

a

If we go out if range, we won’t get any output and the compiler will throw an error:

In [ ]:
print(chr(4000000))

ValueError: ignored

# **Filter() function**

The **filter()** method filters the given sequence with the help of a function that **tests each element in the sequence to be true or not**.

> **Syntax**
>
>**filter(function, iterable)**

 - **function:** function that tests if each element of an 
iterable is true or not.
 - **iterable:** iterable which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.
 - **rerurn type:** it returns an iterator that is already filtered.

In [ ]:
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
  
  
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered = filter(fun, sequence)

print(list(filtered))

['e', 'e']

In [ ]:
# with a lamda function

# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print("Odd numbers: ", list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print("Even numbers: ", list(result))

Odd numbers:  [1, 3, 5, 13]
Even numbers:  [0, 2, 8]

# **Lambda Function**

Simply, a **lambda function** is just like any normal python function, except that it has **no name** when defining it, and it is **contained in one line of code**.

 > **Syntax:** 
 >
 > **<i>lambdad</i> bound-variable: body** 
 >
 >lambda argument(s): expression

 - A **full colon (:)** separates the argument and the expression.
 - A **bound variable** is an **argument** to a lambda function. A lambda function evaluates an expression for a given argument

**Pros**

 - Good for simple logical operations that are easy to understand. This makes the code more readable too.
 - Good when you want a function that you will use just one time.

**Cons**

 - They can only perform one expression. It’s not possible to have multiple independent operations in one lambda function.
 - Bad for operations that would span more than one line in a normal def function (For example nested conditional operations). If you need a minute or two to understand the code, use a named function instead.
 - Bad because you can’t write a doc-string to explain all the inputs, operations, and outputs as you would in a normal def function.

**Here are a couple scenarios where using lambdas might be opportune:**

 - **Writing a quick function in an otherwise long program**. It is stylistically odd to insert a def statement randomly in the middle of code; functions are generally defined at the top of a code file, or in a different file altogether for particularly complex programs. However, this poses a separate issue, since readers of the code will now have to go searching all over to find out what a simple function does. Using lambda functions solves this problem: the programmer can define a lambda function and use it immediately without breaking the flow of the code.
 - **Analyzing data using pandas. Lambda functions are especially useful in data science**. Pandas — Python’s comprehensive data science module — makes use of many operations in which users can pass in functions as optional arguments. Having to define these functions traditionally is a pain. I use Pandas in my work often, and I can attest to the fact that lambda functions have made my life much easier in terms of quickly writing and testing code to process data.

Note that we use lambda functions a lot with python classes that take in a function as an argument, for example, **map()** and **filter()**.

In [ ]:
lambda x: x + 1

**1. To evaluate scalar values**

This is when you execute a lambda function on a **single value**.

In [ ]:
(lambda x: x + 1)(2)

3

**2. To evaluate lists with filter() and map() functions**

In [ ]:
list_1 = [1,2,3,4,5,6,7,8,9]

print(list(filter(lambda x: x%2==0, list_1)))

[2, 4, 6, 8]

In [ ]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

**Define/Name a lambda function**

As a lambda function is an expression, it can be **named**. Therefore you could write the previous code as follows:

In [ ]:
add_one = lambda x: x + 1
add_one(2)

3

In [ ]:
def add_one(x):
    return x + 1

add_one(2)

3

In [ ]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('guido', 'van rossum')

'Full name: Guido Van Rossum'

**3. Series object**

A Series object is **a column** in a **data frame**, or put another way, a **sequence of values with corresponding indices**. Lambda functions can be used to manipulate values inside a Pandas dataframe.

In [2]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

In [3]:
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

**Lambda with Apply() function by Pandas**

This function applies an operation to every element of any column.

In [4]:
df['age'] = df['Birthyear'].apply(lambda x: 2021-x)

In [ ]:
df

   Name    Status  Birthyear  age  Gender
0  Luke    Father       1976   45    Male
1  Gina    Mother       1984   37  Female
2   Sam       Son       2013    8    Male
3  Emma  Daughter       2016    5  Female

Do the same as above but using a user defined function:

In [5]:
def cal_age(x):
  return (2021-x)

df['age'] = df['Birthyear'].apply(cal_age)
df

   Name    Status  Birthyear  age
0  Luke    Father       1976   45
1  Gina    Mother       1984   37
2   Sam       Son       2013    8
3  Emma  Daughter       2016    5

**Conditional operation with lambda and dataframe** 

We can also perform **conditional operations** that return different values based on certain criteria.

Here, with dataframe object, we have used its **map()** function and conditionals. 
> **lambda** argument: value [if condition ... else value]

In [ ]:
df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')

In [ ]:
df

   Name    Status  Birthyear  age  Gender
0  Luke    Father       1976   45    Male
1  Gina    Mother       1984   37  Female
2   Sam       Son       2013    8    Male
3  Emma  Daughter       2016    5  Female

# **Docstrings**

A Python **docstring** is a string used to document a Python module, class, function or method, so programmers can understand what it does without having to read the details of the implementation.

 > **General rules**

- Docstrings must be defined with three double-quotes. 
- No blank lines should be left before or after the docstring. 
- The text starts in the next line after the opening quotes. 
- The closing quotes have their own line (meaning that they are not at the end of the last sentence).

In [ ]:
# example of docstring

def square(n):
    '''
    Takes in a number n, returns the square of n
    '''
    return n**2

# **sorted() function**

The sorted() method sorts **iterable data** such as **lists, tuples, and dictionaries**. But it sorts by key only.

**The sorted() method puts the sorted items in a list**. If you use the sorted() method with a dictionary, **only the keys will be returned** and as usual, it will be in a list:

In [ ]:
numbers = (14, 3, 1, 4, 2, 9, 8, 10, 13, 12)
sortedNumbers = sorted(numbers)

print(sortedNumbers)

[1, 2, 3, 4, 8, 9, 10, 12, 13, 14]

In [ ]:
sortedNumbers = sorted(numbers, reverse = True)

print(sortedNumbers)

[14, 13, 12, 10, 9, 8, 4, 3, 2, 1]

In [ ]:
persons = ['Chris', 'Amber', 'David', 'El-dorado', 'Brad', 'Folake']
sortedPersons = sorted(persons)

print(sortedPersons)

['Amber', 'Brad', 'Chris', 'David', 'El-dorado', 'Folake']

In [ ]:
my_dict = { 'num6': 6, 'num3': 3, 'num2': 2, 'num4': 4, 'num1': 1, 'num5': 5}
sortedDict = sorted(my_dict) # return the sorted list of keys 

print(sortedDict)

['num1', 'num2', 'num3', 'num4', 'num5', 'num6']

 >Syntax of sorted() method 
 > 
 >**sorted(iterable, key, reverse)**

- iterable – the data to iterate over. It could be a tuple, list, or dictionary.

- key – an optional value, the function that helps you to perform a custom sort operation.

- reverse – another optional value. It helps you arrange the sorted data in ascending or descending order

**To correctly sort a dictionary by value with the sorted() method, you will have to do the following:**

 - pass the dictionary to the sorted() method as the first value
 - use the items() method on the dictionary to retrieve its keys and values
 - write a lambda function to get the values retrieved with the item() method

In [ ]:
footballers_goals = {'Eusebio': 120, 'Cruyff': 104, 'Pele': 150, 'Ronaldo': 132, 'Messi': 125}

print(footballers_goals.items())

sorted_footballers_by_goals = sorted(footballers_goals.items(), key=lambda x:x[1])
# it returns a list

print(sorted_footballers_by_goals)


# now if we want to get back our dictionary
converted_dict = dict(sorted_footballers_by_goals)
print(converted_dict)

dict_items([('Eusebio', 120), ('Cruyff', 104), ('Pele', 150), ('Ronaldo', 132), ('Messi', 125)])
[('Cruyff', 104), ('Eusebio', 120), ('Messi', 125), ('Ronaldo', 132), ('Pele', 150)]
{'Cruyff': 104, 'Eusebio': 120, 'Messi': 125, 'Ronaldo': 132, 'Pele': 150}