<a href="https://colab.research.google.com/github/ashmafee-iut/Learning-Coding/blob/main/Hash_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/codebasics/data-structures-algorithms-python/master/data_structures/4_HashTable/stock_prices.csv"
df = pd.read_csv(url)

In [2]:
list1 = ['march 6', 310]
df.loc[len(df)] = list1

In [3]:
df

    march 6  310
0   march 7  340
1   march 8  380
2   march 9  302
3  march 10  297
4  march 11  323
5   march 6  310

In [4]:
stock_prices = []
for index, row in df.iterrows():
  day = row[0]
  price = float(row[1])
  stock_prices.append([day,price])

In [5]:
stock_prices

[['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0],
 ['march 6', 310.0]]

# **Find stock price on March 9**

**Search in O(n)**

In [6]:
for element in stock_prices:
    if element[0] == 'march 9':
        print(element[1])

302.0

**Use a Dictionary - Complexity O(1) - It is implemented based on Hash Map in python**

In [7]:
stock_prices = {}
for index, row in df.iterrows():
  day = row[0]
  price = float(row[1])
  stock_prices[day] = price  #implement a dictionary at this place

In [8]:
# Representaion of a dictionary as a data structure 
stock_prices

{'march 7': 340.0,
 'march 8': 380.0,
 'march 9': 302.0,
 'march 10': 297.0,
 'march 11': 323.0,
 'march 6': 310.0}

In [9]:
stock_prices['march 9']

302.0

**Search in O(log(n)) = Binary search**
- to be implemented

**Search in O(1)**
 - Hash table

Hash function is an important step in this method to find/map an index for a given key.

In [10]:

# build a hash function at first 

def get_hash(key):
    hash = 0
    for char in key:
        hash += ord(char)
    return hash % 100

In [11]:

# demo of a hash function

get_hash('march 6')

9

In [12]:
class HashTable:  
    def __init__(self):
        self.MAX = 100
        self.arr = [None for i in range(self.MAX)]
        
    def get_hash(self, key):
        hash = 0
        for char in key:
            hash += ord(char)
        return hash % self.MAX
    
    def __getitem__(self, index):
        # a regular key (index) will be converted to a hash index at first  
        h = self.get_hash(index)
        return self.arr[h]
    
    def __setitem__(self, key, val):
        # a regular key (index) will be converted to a hash index at first 
        h = self.get_hash(key)
        self.arr[h] = val    
        
    def __delitem__(self, key):
        # a regular key (index) will be converted to a hash index at first
        h = self.get_hash(key)
        self.arr[h] = None

In [13]:
t = HashTable()
t["march 6"] = 310
t["march 7"] = 420

t.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 310,
 420,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [14]:
t["dec 30"] = 88

In [15]:
t.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 310,
 420,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 88,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [16]:
stock_prices = HashTable()
for index, row in df.iterrows():
  day = row[0]
  price = float(row[1])
  stock_prices[day] = price  #implement a Hashtable at this place similar to a hashtable

In [17]:
stock_prices["march 6"]

310.0

In [18]:
stock_prices.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 310.0,
 340.0,
 380.0,
 302.0,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 297.0,
 323.0,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [19]:
a = None
(a)

<h4><b>Hash table = Collisions</b></h4>

In [20]:
class HashTable:  
    def __init__(self):
        self.MAX = 10
        self.arr = [None for i in range(self.MAX)]
        
    def get_hash(self, key):
        hash = 0
        for char in key:
            hash += ord(char)
        return hash % self.MAX
    
    def __getitem__(self, index):
        # a regular key (index) will be converted to a hash index at first  
        h = self.get_hash(index)
        return self.arr[h]
    
    def __setitem__(self, key, val):
        # a regular key (index) will be converted to a hash index at first 
        h = self.get_hash(key)
        self.arr[h] = val    
        
    def __delitem__(self, key):
        # a regular key (index) will be converted to a hash index at first
        h = self.get_hash(key)
        self.arr[h] = None

In [21]:
t = HashTable()
t.get_hash("march 6")

9

In [22]:
t.get_hash("march 17")

9

These two days are giving same hash(index) values. So if we try to insert these two days, the later insertion will override the previous insertion.

In [23]:
t["march 6"] = 120   # same hash=9 
t["march 8"] = 67
t["march 9"] = 4
t["march 17"] = 459 # same hash=9

Now if we want to search for value at <b>"march 6"</b>, it won't be found out correctly as it was overriden with the later inserted value which has the same hash (key).

In [24]:
t["march 6"]

459

## **Hash Table Collision Handling Using Chaining**

In [25]:
class HashTable:  
    def __init__(self):
        self.MAX = 10
        self.arr = [[] for i in range(self.MAX)]
        
    def get_hash(self, key):
        hash = 0
        for char in key:
            hash += ord(char)
        return hash % self.MAX
    
    def __getitem__(self, key):
        arr_index = self.get_hash(key)
        for kv in self.arr[arr_index]:
            if kv[0] == key:
                return kv[1]
            
    def __setitem__(self, key, val):
        h = self.get_hash(key)
        found = False
        for idx, element in enumerate(self.arr[h]):
            if len(element)==2 and element[0] == key:
                self.arr[h][idx] = (key,val)
                found = True
        if not found:
            self.arr[h].append((key,val))
        
    def __delitem__(self, key):
        arr_index = self.get_hash(key)
        for index, kv in enumerate(self.arr[arr_index]):
            if kv[0] == key:
                print("del",index)
                del self.arr[arr_index][index]