<a href="https://colab.research.google.com/github/ashmafee-iut/Learning-Coding/blob/main/Python_Collections_(Arrays)_%3D_List%2C_Tuple%2C_Set%2C_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Collections (Arrays) - List, Tuple, Set, Dictionary**

# **Tuple**
<br>
<b>mytuple</b>  = ("apple", "banana", "cherry") <br><br>
<b>Tuples</b> are used to store multiple items in a single variable. <b>Tuple</b> is one of 4 built-in data types in Python used to store collections of data, the other 3 are <b>List</b>, <b>Set</b>, and <b>Dictionary</b>, all with different qualities and usage.
<br>

*   A tuple is a collection which is **ordered** and **unchangeable**.
*   Tuples are written with round brackets - **tuple1** = (a,b,c).
*   Since tuples are indexed, they can have items with the same value: **tuple1** = (a,a) 
*   To create a tuple with **only one item**, you have to add a **comma** after the item, otherwise Python will not recognize it as a tuple.: myList = ["Bran",11,3.14,33,"Stark",22,33,11] = (a,)
*   A tuple can contain different data types: **tuple1** = ("abc", 34, True, 40, "male")


 -

In [1]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)


# **List**
<br>

**myList** = ["Bran",11,3.14,33,"Stark",22,33,11] <br><br>

<b>Lists</b> are ordered sequences that can hold a variety of object types. In other words, a list is a collection of elements which is ordered and changeable. Python Lists are just like **dynamically sized** arrays
<br>
<br>
We can compare lists in Python to arrays in other programming languages.   <b>But</b>, there’s one major difference Arrays contain elements of the same data types, whereas Python lists can contain items of different types like Integers, Strings, as well as Objects.
<br>
<br>
A single list may contain data types like strings, integers, floating point numbers etc.
<br>
<br>

*   A List is a collection which is **ordered** and **changeable**.
*   All the elements in a list are enclosed within ‘**square brackets**’, and every element in it are separated by a ‘**comma**’.  **list1** = ["Geeks", "for", "Geeks"]
*   Since Lists are indexed, they can have items with the same (**duplicate**) value: **list1** = [a,a]
*   Lists are also **mutable**, which means, they can be altered after creation.
*   Lists support **indexing** and **slicing**, just like strings. In Python it is possible to access a section of items from the list using the slicing operator **[start:end]**, not just a single item. 
*   In Python, **negative sequence indexes** represent positions from the end of the array. Instead of having to compute the offset as in **List[len(List)-3]**, it is enough to just write **List[-3]**. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc.


<br>
<br>

In [2]:
myList = ["Bran",11,3.14,33,"Stark",22,33,11]
 
print(myList)

['Bran', 11, 3.14, 33, 'Stark', 22, 33, 11]

In [8]:
# Creating a List
List = []
print("Blank List: ")
print(List)
 
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)
 
# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

In [9]:

# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)
 
# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [ ]:

List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
 
# accessing an element using
# negative indexing
print("Accessing element using negative indexing")
 
# print the last element of list
print(List[-1])
 
# print the third last element of list
print(List[-3])

**Add Elements into a List:**
There are three ways in which you can Remove elements from List:

 - Using the **append()** method
 - Using the list object’s **extend()** method
 - Using the **insert()** method

**append()**

 - The append() method adds an item at the **end** of the list.

In [10]:
numbers = [21, 34, 54, 12]

print("Before Append:", numbers)

# using append method
numbers.append(32)

print("After Append:", numbers)

Before Append: [21, 34, 54, 12]
After Append: [21, 34, 54, 12, 32]

**extend()**

 - We use the extend() method to add all items of one list to another.

In [11]:
prime_numbers = [2, 3, 5]
print("List1:", prime_numbers)

even_numbers = [4, 6, 8]
print("List2:", even_numbers)

# join two lists
prime_numbers.extend(even_numbers)

print("List after append:", prime_numbers)

List1: [2, 3, 5]
List2: [4, 6, 8]
List after append: [2, 3, 5, 4, 6, 8]

**insert()**
 - Unlike append() which takes only one argument, the **insert()** method requires **two arguments(position, value)**.

In [17]:
# Python program to demonstrate
# Addition of elements in a List
  
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
 
# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

**Remove Elements from a List:**
There are three ways in which you can Remove elements from List:

 - Using the **remove()** method
 - Using the list object’s **pop()** method
 - Using the **del** operator

**remove()** 
 - When you use this method, you will need to specify the particular item that is to be removed. Note that, if there are multiple occurrences of the item specified, then its first occurrence will be removed from the list.  We can consider this method as “**removal by item’s value**”. If the particular item to be removed is not found, then a **ValueError** is raised.

In [3]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
myList.remove(22)
 
myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

**pop()** 
 - This method removes an item or an element from the list, and returns it. The **difference** between this method and the remove() method is that, <u>we should specify the item to be removed in the remove() method</u>. But, <u>when using the pop(), we specify the **index** of the item as the argument.</u>. So, it pops out the item to be returned at the specified index. If the particular item to be removed is not found, then an **IndexError** is raised.

In [4]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
myList.pop(1)

11

In [5]:
myList.pop(1)

22

**del operator** 
 -  This operator is similar to the List object’s **pop()** method with one important difference. The del operator removes the item or an element at the **specified index location** from the list, but the removed item is **not returned**, as it is with the pop() method.
 - The operator also supports removing **a range of items** in the list.
 - This operator, just like the pop() method, raises an **IndexError**, when the index or the indices specified are out of range.

In [6]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
del myList[2]
 
myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

In [7]:
del myList[2:4]
 
myList

['Bran', 11, 22, 33, 11]

**Iterating through a List**
 - We can use the **for loop** to iterate over the elements of a list.

In [12]:
languages = ['Python', 'Swift', 'C++']

# iterating through the list
for language in languages:
    print(language)

Python
Swift
C++

**Check if an Item Exists in the Python List**
 - We use the **in** keyword to check if an item exists in the list or not.

In [13]:
languages = ['Python', 'Swift', 'C++']

print('C' in languages)    # False
print('Python' in languages)    # True

False
True

**Python List Length**
 - In Python, we use the **len()** method to find the number of elements present in a list.

In [14]:
languages = ['Python', 'Swift', 'C++']

print("List: ", languages)

print("Total Elements: ", len(languages))    # 3

List:  ['Python', 'Swift', 'C++']
Total Elements:  3

**Python List Comprehension**
 - List comprehension is a **concise** and elegant way to create lists.
 - A list comprehension consists of an expression followed by the **for statement** <u>inside square brackets</u>.
 - newList = [ **expression**(element) **for** element **in** oldList **if condition** ]

In [15]:
numbers = [number*number for number in range(1, 6)]

print(numbers)    

# Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**Taking Input of a Python List**
 - We can take the input of a list of elements as string, integer, float, etc. **But the default one is a string**.

In [16]:
# Python program to take space
# separated input as a string
# split and store it to a list
# and print the string list
 
# input the list as string
string = input("Enter elements (Space-Separated): ")
 
# split the strings and store it to a list
lst = string.split() 
print('The list is:', lst)   # printing the list

Enter elements (Space-Separated): a b c d e f
The list is: ['a', 'b', 'c', 'd', 'e', 'f']