<a href="https://colab.research.google.com/github/ashmafee-iut/Learning-Coding/blob/main/Python_Collections_(Arrays)_%3D_List%2C_Tuple%2C_Set%2C_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Collections (Arrays) - List, Tuple, Set, Dictionary**

**Ordered or Unorderd**
 - When we say that an is **ordered**, it means that the items have a defined order, and that order will not change.

 - **Unordered** means that the items does not have a defined order, you cannot refer to an item by using an index.

**Changable or mutable**
 - It means that we can change a list, by adding or removing items (**simply modifying**) after it has been created.

# **Tuple**
<br>
<b>mytuple</b>  = ("apple", "banana", "cherry") <br><br>
<b>Tuples</b> are used to store multiple items in a single variable. <b>Tuple</b> is one of 4 built-in data types in Python used to store collections of data, the other 3 are <b>List</b>, <b>Set</b>, and <b>Dictionary</b>, all with different qualities and usage.
<br>

*   A tuple is a collection which is **ordered** and **unchangeable**.
*   Tuples are written with round brackets - **tuple1** = (a,b,c).
*   Since tuples are indexed, they can have items with the same value: **tuple1** = (a,a) 
*   To create a tuple with **only one item**, you have to add a **comma** after the item, otherwise Python will not recognize it as a tuple.: **tuple1** = (a,)
*   A tuple can contain different data types: **tuple1** = ("abc", 34, True, 40, "male")


 -

In [1]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

**Access tuple items**
 - You can access tuple items by referring to the **index number**, inside **square brackets**:

In [18]:
# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana


# **List**
<br>

**myList** = ["Bran",11,3.14,33,"Stark",22,33,11] <br><br>

<b>Lists</b> are ordered sequences that can hold a variety of object types. In other words, a list is a collection of elements which is ordered and changeable. Python Lists are just like **dynamically sized** arrays
<br>
<br>
We can compare lists in Python to arrays in other programming languages.   <b>But</b>, there’s one major difference Arrays contain elements of the same data types, whereas Python lists can contain items of different types like Integers, Strings, as well as Objects.
<br>
<br>
A single list may contain data types like strings, integers, floating point numbers etc.
<br>
<br>

*   A List is a collection which is **ordered** and **changeable**.
*   All the elements in a list are enclosed within ‘**square brackets**’, and every element in it are separated by a ‘**comma**’.  **list1** = ["Geeks", "for", "Geeks"]
*   Since Lists are indexed, they can have items with the same (**duplicate**) value: **list1** = [a,a]
*   Lists are also **mutable**, which means, they can be altered after creation.
*   Lists support **indexing** and **slicing**, just like strings. In Python it is possible to access a section of items from the list using the slicing operator **[start:end]**, not just a single item. 
*   In Python, **negative sequence indexes** represent positions from the end of the array. Instead of having to compute the offset as in **List[len(List)-3]**, it is enough to just write **List[-3]**. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc.


<br>
<br>

In [2]:
myList = ["Bran",11,3.14,33,"Stark",22,33,11]
 
print(myList)

['Bran', 11, 3.14, 33, 'Stark', 22, 33, 11]

In [8]:
# Creating a List
List = []
print("Blank List: ")
print(List)
 
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)
 
# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

In [9]:

# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)
 
# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [ ]:

List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
 
# accessing an element using
# negative indexing
print("Accessing element using negative indexing")
 
# print the last element of list
print(List[-1])
 
# print the third last element of list
print(List[-3])

**Add Elements into a List:**
There are three ways in which you can Remove elements from List:

 - Using the **append()** method
 - Using the list object’s **extend()** method
 - Using the **insert()** method

**append()**

 - The append() method adds an item at the **end** of the list.

In [10]:
numbers = [21, 34, 54, 12]

print("Before Append:", numbers)

# using append method
numbers.append(32)

print("After Append:", numbers)

Before Append: [21, 34, 54, 12]
After Append: [21, 34, 54, 12, 32]

**extend()**

 - We use the extend() method to add all items of one list to another.

In [11]:
prime_numbers = [2, 3, 5]
print("List1:", prime_numbers)

even_numbers = [4, 6, 8]
print("List2:", even_numbers)

# join two lists
prime_numbers.extend(even_numbers)

print("List after append:", prime_numbers)

List1: [2, 3, 5]
List2: [4, 6, 8]
List after append: [2, 3, 5, 4, 6, 8]

**insert()**
 - Unlike append() which takes only one argument, the **insert()** method requires **two arguments(position, value)**.

In [17]:
# Python program to demonstrate
# Addition of elements in a List
  
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
 
# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

**Remove Elements from a List:**
There are three ways in which you can Remove elements from List:

 - Using the **remove()** method
 - Using the list object’s **pop()** method
 - Using the **del** operator

**remove()** 
 - When you use this method, you will need to specify the particular item that is to be removed. Note that, if there are multiple occurrences of the item specified, then its first occurrence will be removed from the list.  We can consider this method as “**removal by item’s value**”. If the particular item to be removed is not found, then a **ValueError** is raised.

In [3]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
myList.remove(22)
 
myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

**pop()** 
 - This method removes an item or an element from the list, and returns it. The **difference** between this method and the remove() method is that, <u>we should specify the item to be removed in the remove() method</u>. But, <u>when using the pop(), we specify the **index** of the item as the argument.</u>. So, it pops out the item to be returned at the specified index. If the particular item to be removed is not found, then an **IndexError** is raised.

In [4]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
myList.pop(1)

11

In [5]:
myList.pop(1)

22

**del operator** 
 -  This operator is similar to the List object’s **pop()** method with one important difference. The del operator removes the item or an element at the **specified index location** from the list, but the removed item is **not returned**, as it is with the pop() method.
 - The operator also supports removing **a range of items** in the list.
 - This operator, just like the pop() method, raises an **IndexError**, when the index or the indices specified are out of range.

In [6]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
del myList[2]
 
myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

In [7]:
del myList[2:4]
 
myList

['Bran', 11, 22, 33, 11]

**Iterating through a List**
 - We can use the **for loop** to iterate over the elements of a list.

In [12]:
languages = ['Python', 'Swift', 'C++']

# iterating through the list
for language in languages:
    print(language)

Python
Swift
C++

**Check if an Item Exists in the Python List**
 - We use the **in** keyword to check if an item exists in the list or not.

In [13]:
languages = ['Python', 'Swift', 'C++']

print('C' in languages)    # False
print('Python' in languages)    # True

False
True

**Python List Length**
 - In Python, we use the **len()** method to find the number of elements present in a list.

In [14]:
languages = ['Python', 'Swift', 'C++']

print("List: ", languages)

print("Total Elements: ", len(languages))    # 3

List:  ['Python', 'Swift', 'C++']
Total Elements:  3

**Python List Comprehension**
 - List comprehension is a **concise** and elegant way to create lists.
 - A list comprehension consists of an expression followed by the **for statement** <u>inside square brackets</u>.
 - newList = [ **expression**(element) **for** element **in** oldList **if condition** ]

In [15]:
numbers = [number*number for number in range(1, 6)]

print(numbers)    

# Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**Taking Input of a Python List**
 - We can take the input of a list of elements as string, integer, float, etc. **But the default one is a string**.

In [16]:
# Python program to take space
# separated input as a string
# split and store it to a list
# and print the string list
 
# input the list as string
string = input("Enter elements (Space-Separated): ")
 
# split the strings and store it to a list
lst = string.split() 
print('The list is:', lst)   # printing the list

Enter elements (Space-Separated): a b c d e f
The list is: ['a', 'b', 'c', 'd', 'e', 'f']

# **Dictionary**
<br>

**Dict** = {1: 'Geeks', 2: 'For', 3: 'Geeks'} <br><br>

**Dictionary** holds **key:value** pair in its syntax. **Key-Value** is provided in the dictionary to make it more optimized. 
<br>
<br>
*  A dictionary can be created by placing a sequence of elements within **curly {} braces**, separated by ‘**comma**’. 
*  Values in a dictionary can be of **any data type**. Even it can be an another dictionary itself.  
*  **Values** can be **duplicated** whereas <u>**keys** can’t be repeated and must be immutable.</u> 
*   Dictionary **keys** are **case sensitive**, the same name but different cases of Key will be treated distinctly. 
*   Dictionary can also be created by the built-in function **dict()**. An empty dictionary can be created by just placing to **curly braces{}**. 
*   <u>A dictionary is a collection which is ordered in keys</u>, **changeable** and <u>do not allow duplicates of keys.</u>
<br>
<br>
------------------------
<br>
<br>

<br>
<br>

In [1]:
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [2]:
# Creating a Dictionary
# with Integer Keys
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)
  
# Creating a Dictionary
# with Mixed keys
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [3]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
  
# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)
  
# Creating a Dictionary with a list
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

**Adding elements to a Dictionary**
 - Addition of elements can be done in multiple ways. One value at a time can be added to a Dictionary by defining value along with the key e.g. **Dict[Key] = ‘Value’**.
 - Updating an existing value in a Dictionary can be done by using the built-in **update()** method.
 - Nested key values can also be added to an existing Dictionary.

In [7]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
  
# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)
  
# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)
  
# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)
  
# Adding Nested Key value to Dictionary against a single key from the parent/master dictionary 
Dict[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

**Accessing elements of a Dictionary**
 - In order to access the items of a dictionary refer to its **key name**. Key can be used inside **square brackets**. 
 - There is also a method called **get()** that will also help in accessing the element from a dictionary.<u>This method accepts key as argument and returns the value.</u>

In [9]:
# Python program to demonstrate
# accessing a element from a Dictionary
  
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
  
# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])
  
# accessing a element using key
print("Accessing a element using key:")
print(Dict[1])

# accessing a element using get()
# method
print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using key:
For
Accessing a element using key:
Geeks
Accessing a element using get:
Geeks

**Accessing an element of a nested dictionary**
 - In order to access the value of any key in the nested dictionary, use **indexing [] syntax** .

In [10]:
# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}
  
# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

**Removing elements from Dictionary**
 - We use the **del operator** to remove an element from the dictionary.

In [11]:
student_id = {111: "Eric", 112: "Kyle", 113: "Butters"}

print("Initial Dictionary: ", student_id)

del student_id[111]

print("Updated Dictionary ", student_id)

Initial Dictionary:  {111: 'Eric', 112: 'Kyle', 113: 'Butters'}
Updated Dictionary  {112: 'Kyle', 113: 'Butters'}

In [12]:
print(student_id[111])

KeyError: ignored

**Dictionary Membership Test**
 - We can test if a **key** is in a dictionary or not using the **keyword in**. Notice that the membership test is **only for the keys** and **not for the values**.

In [13]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares) # prints True

print(2 not in squares) # prints True

# membership tests for key only not value
print(49 in squares) # prints false

True
True
False

**Iterating Through a Dictionary**
 - We can iterate **through each key** in a dictionary **using a for loop**.

In [14]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81